.esForm {
  display: flex;
  height: 60px;
  align-items: center;
  margin-top: 3rem;
  background-color: white;
  width: 100%;
  border-radius: 30px;
  font-size: 16px;

  overflow: hidden;
  input {
    height: 100%;
    color: #8a8a8a;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    margin: 0px 2rem;
    box-sizing: border-box;
    border: none;
    outline: none;
    &::placeholder {
      text-align: center;
    }
  }
  select {
    height: 100%;
    color: #8a8a8a;
    font-weight: bold;
    width: 100%;
    font-size: 15px;
    margin: 0px 2rem;
    border: none;
    outline: none;

    option {
      text-align: center;
    }
  }
  button {
    width: 100%;
    background-color: #92b09f;
    color: white;
    border: none;
    height: 100%;
  }
}
